@model IEnumerable<YSLProject.Table.CenterReportModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .btn-warning, .btn-danger {
        padding: 3px 1rem;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />

<div class="form-group row">
    <div class="col-md-6">
        <h1>Usage Report</h1>
    </div>
    <div class="col-md-6" style="text-align:end;">
    </div>
</div>
<div class="col-md-12" style="text-align:right">
    <label style="font-weight:bold">&nbsp;</label><br />
    <button style="width:200px;" onclick="ExporttoExcel(2)" title="Export to Excel" class="btn btn-primary">Export to Excel</button>
</div>
<div>
    &nbsp;
</div>
<div class="card">
    <div class="card-content collapse show">
        <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="example" style="width:100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<script>

                    $(document).ready(function () {
                        //getMemeberList();
                    })

function getMemeberList() {
        $.ajax({
            url: '@Url.Action("UsageReportData", "Report")',
            type: "GET",
            success: function (data) {
            
            },
            error: function (Result) {
            }
        });
 }


     function ExporttoExcel(iii) {
            $.ajax({
            url: '@Url.Action("ExportExcelData", "Report")',
                type: "GET",
                data: {
                    "Report": iii,
                },
                success: function (data) {
               
                var bytes = Base64ToBytes(data.fileContents);
                //var bytes = new Uint8Array(data);
                var blob = new Blob([bytes], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = "CenterReport.xlsx";
                link.click();
            },
            error: function (Result) {
            }
        });
    }
    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    }
</script>

